
# Ignore Kaggle credentials
kaggle.json
~/.kaggle/

# Ignore model files
*.pkl
*.joblib

# Environments
.env
.venv
env/
venv/

# Python cache
__pycache__/
*.py[cod]

# kaggle stuff 
kaggle.json
~/.kaggle/

#model files 
*.pkl
*.joblib

